<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title></title>
</head>
<body>
    <script src="/static/virtualjoystick.js"></script>
    <script type="text/javascript" src="/static/socketio.js"></script>

    <div id="container"></div>
    <iframe id="frame" src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></iframe>

    <script type="text/javascript" src="/static/index.js"></script>
</body>
</html>